{% extends "layout.html" %}
{% block content %}
<!-- Example row of columns -->

<div class="row">
    <div class="col-md-4">
        <h2>About the Project</h2>
        <p>
            Being new to San Francisco and planning to walk around a lot by himself, Jay wanted to learn more about walking in the city. With available open government data, this was a good opportunity to apply data analysis and machine learning.
        </p>
        <p>
            This project was developed as part of <a href="https://www.thedataincubator.com/">the Data Incubator</a>, an eight-week data science fellowship program for training advanced-degree graduates to enter industry.</p>
        </p>
    </div>

    <div class="col-md-4">
        <h2>About the Data</h2>
        <p>
            Coming soon!
        </p>
    </div>

    <div class="col-md-4">
        <h2>About Jay</h2>
        <p>
            Jay Qi is a data scientist who is currently spending some time in San Francisco. Trained as a mechanical and aerospace engineer, Jay uses data analysis, machine learning, and computational modeling to solve problems and learn new things about the world.
        </p>
        <p>
            To find out more about Jay, you can visit his <a href="https://jayqi.com">homepage</a> or connect with him on one of the following services.

            [LinkedIn] [GitHub]
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Other Resources</h2>
        <p>
            Here you can find links to other relevant resources to pedestrians in San Francisco.
        </p>
        <h3>Government</h3>
        <p>
            <ul>
                <li><a href="https://www.sfmta.com/getting-around/walk/pedestrian-safety/safe-streets-sf">San Francisco Municipal Transportation Agency - Pedestrian Resources</a></li>
                <li><a href="http://catsip.berkeley.edu/">California Active Transportation Safety Information Pages (CATSIP)</a></li>
                <li><a href="http://visionzerosf.org/">Vision Zero SF</a></li>
                <li><a href="http://walkfirst.sfplanning.org/index.php/">WalkFirst</a></li>
            </ul>
        </p>

        <h3>Advocacy</h3>
        <p>
            <ul>
                <li><a href="http://walksf.org/">Walk San Francisco</a> - pedestrian advocacy organization</li>
                <li><a href="http://sfsaferoutestoschool.org/">Safe Routes to School</a></li>
                <li><a href="http://shapeupsfcoalition.org/">Shape Up San Francisco Coalition</a></li>
            </ul>
        </p>

        <h3>Research</h3>
        <p>
            <ul>
                <li><a href="http://safetrec.berkeley.edu/">Safe Transportation Research and Education Center (SafeTREC) at UC Berkeley</a></li>
                <ul><li><a href="http://safetrec.berkeley.edu/crash-analysis/psip">Pedestrian Safety Improvement Program (PSIP)</a></li>
                </ul>
                <li><a href="http://www.trb.org/Main/Home.aspx">Transportation Research Board</a>, a part of the National Academies of Sciences, Engineering, and Medicine</li>

                <ul><li><a href="http://www.trb.org/PedestriansandBicyclists/PedestriansandBicyclists2.aspx">Pedestrian and Bicyclist Research</a></li></ul>
            </ul>
        </p>
    </div>
</div>

{% endblock %}
