<footer>
    <p>
        &copy; 2016 <a href="https://jayqi.com">Jay Qi</a>
        &nbsp;&nbsp;&bull;&nbsp;&nbsp;
        View Source on <a href="https://github.com/jayqi/sf-walk-safety">GitHub</a>
        &nbsp;&nbsp;&bull;&nbsp;&nbsp;
        Icon by <a href="http://www.flaticon.com/authors/scott-de-jonge" title="Scott de Jonge">Scott de Jonge</a>
        on <a href="http://www.flaticon.com" title="Flaticon">Flaticon</a>
        (<a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>)
        &nbsp;&nbsp;&bull;&nbsp;&nbsp;
        Design: <a href="https://bootswatch.com/sandstone/">Bootswatch Sandstone</a>
    </p>
</footer>
