{% extends "layout.html" %}
{% block content %}
<!-- Example row of columns -->



<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Project Highlights</h2>
        <p>
            Here you can see some of the interesting highlights from our analysis and modeling. To see more exhaustive results, visit the main pages for <a href="/thefts/">thefts</a>, <a href="/robberies/">robberies</a>, and <a href="/trafficcollisions/">traffic collisions</a>.
        </p>
    </div>
</div>


<hr>

<h2 class="text-center">Spatial Kernel Density Estimates</h2>

<div class="row">
    <div class="col-md-12">
        <p>
            Below are maps showing spatial probability distributions for thefts and robberies, respectively, computed using kernel density estimation. The way to interpret these distributions is as follows: if a theft or robbery incident occurs, what probability that it occurs in a certain area of the city. The intensity values are scaled to the maximum value of the respective distributions, and the colors have logarithmic scaling to enhance the lower value features. Larger versions with the option for linear color scaling can be found on their respective individual pages (<a href="">thefts</a>, <a href="">robberies</a>).
        </p>
        <p>
            We can see that for both thefts and robberies, downtown along Market Street is where the incidents are most likely to occur. The peaks are not quite in the same place&mdash;the peak for robberies is in Tenderloin while the peak for thefts is shifted more into the Financial District. For both types of incidents, local pockets of higher probability are spread across the city.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3 class="text-center">Thefts</h3>
    <div class="mapbound-split">
            <div id='splitmap1'></div>
    </div>
    </div>
    <div class="col-md-6">
        <h3 class="text-center">Robberies</h3>
    <div class="mapbound-split">
            <div id='splitmap2'></div>
    </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <p>
            Larger versions of these maps with the option for linear color scaling can be found on their respective individual pages: <a href="/thefts/mapkde/">thefts</a>, <a href="/robberies/mapkde/">robberies</a>.
        </p>
    </div>
</div>


<hr>

<h2 class="text-center">Time of Day Distribution</h2>
<div class="row">
    <div class="col-md-4">
        <p>
            Histograms showing respectively theft incidents and robbery incidents binned by hour of the day. Also plotted are probability density functions estimated using gaussian kernel density estimation. The so-called Silverman's rule for optimal bandwidth choice is used.
        </p>
        <p>
            Thefts are most frequent in the afternoon and evening, with a smaller second peak at late hours of the night. Their least frequent time is the early hours of the morning.
        </p>
        <p>
            In contrast, robberies are at their least frequent in the late morning and at their most frequent in the late hours of the night.
        </p>
    </div>
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='img/plots/thefts-timeofdaydistribution.png') }}" class="img-responsive center-block"  />
    </div>
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='img/plots/robberies-timeofdaydistribution.png') }}" class="img-responsive center-block"  />
    </div>
</div>

{% endblock %}





{% block scripts %}
<!-- Mapbox.js and its stylesheet -->
<script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />

<script src="{{ url_for('static', filename='js/easy-button.js') }}"></script>
<link href="{{ url_for('static', filename='css/easy-button.css') }}" rel='stylesheet' />

<script>{% include 'leaflet_kde_split.js' %}</script>
{% endblock %}
