{% extends "layout.html" %}
{% block content %}
<!-- Example row of columns -->

<div class="row">
    <div class="col-md-8">
        <h2>Walking in San Francisco</h2>
        <p>Walking is a common part of living in San Francisco. <a href="https://www.sfmta.com/getting-around/walk/pedestrian-safety/safe-streets-sf">According to the SFMTA</a>, over one million walking trips happen in the city each day&mdash;over a quarter of all trips. Walking is an important component to a healthy lifestyle, and it is a great way to get to know the city intimately.</p>
        <p>
        </p>
        <p>This project takes a look at open government crime and traffic collision data relevant to pedestrian safety in the city. Three classes of incidents are examined: thefts, robberies, and traffic collisions. We present interactive maps and visualizations to inform residents about these incidents in their city. We also use machine learning techniques such as kernel density estimation to gain deeper insights and model the patterns underlying these incidents.</p>
        <p>See the highlights of our study by following the link in the next section. You can also find more exhaustive visualizations and analyses by following the links for each incident category further below.</p>
    </div>
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='img/blankmap.png') }}" class="img-responsive img-circle img-filler center-block"  />
    </div>
    <div class="clearfix visible-md-block"></div>
    <hr>
    <div class="col-md-12">
        <h2>Analysis Highlights</h2>
        <p>The thefts, robberies, and traffic collision datasets are rich and have many interesting ways to both visualize and model. To see the highlights of the project, follow the link below:</p>
        <p><a class="btn btn-default" href="/highlights/" role="button">See highlights &raquo;</a></p>
    </div>
</div>
<hr>

<div class="row">

    <div class="col-md-4">
        <h2>Thefts</h2>
        <p>Street thefts going back to 2003&mdash;data supplied by the San Francisco Police Department.</p>
        <p><a class="btn btn-default" href="/thefts/" role="button">See details &raquo;</a></p>
        <p>Visualizations:
        <ul>
            <li><a href="/thefts/mapchoropleth/">Choropleth map</a></li>
            <li><a href="/thefts/mapmarkers/">Incidents map</a></li>
            <li><a href="/thefts/histogram/">Histograms</a></li>
        </ul></p>
        <p>Modeling:
        <ul>
            <li><a href="/thefts/kde/">Kernal density estimation</a></li>
        <ul>
        </p>
    </div>

    <div class="col-md-4">
        <h2>Robberies</h2>
        <p>Street robberies going back to 2003&mdash;data supplied by the San Francisco Police Department.</p>
        <p><a class="btn btn-default" href="/robberies/" role="button">See details &raquo;</a></p>
        <p>Visualizations:
        <ul>
            <li><a href="/robberies/mapchoropleth/">Choropleth map</a></li>
            <li><a href="/robberies/mapmarkers/">Incidents map</a></li>
            <li><a href="/robberies/histogram/">Histograms</a></li>
        </ul></p>
        <p>Modeling:
        <ul>
            <li><a href="/robberies/kde/">Kernal density estimation</a></li>
        <ul>
        </p>
    </div>

    <div class="col-md-4">
        <h2>Traffic Collisions</h2>
        <p>Traffic collisions involving pedestrians since 2003&mdash;data supplied by the California Highway Patrol.</p>
        <p><a class="btn btn-default" href="/thefts/" role="button">See details &raquo;</a></p>
        <p>Visualizations:
        <ul>
            <li>Coming soon</li>
        </ul></p>
        <p>Modeling:
        <ul>
            <li>Coming soon</li>
        <ul>
        </p>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-4">
        <h3>About the data</h3>
        <p>Learn more about the data we use. Coming soon!</p>
    </div>
    <div class="col-md-4">
        <h3>View project source</h3>
        <p>View the source code for this project, including this website, on GitHub. </p>
        <p><a class="btn btn-default" href="https://github.com/jayqi/sf-walk-safety" role="button">View on GitHub &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>More walking resources</h3>
        <p>Other resources for pedestrians, created by the San Francisco community. Coming soon!</p>
    </div>
</div>
{% endblock %}
