{% extends "layout.html" %}
{% block content %}
<!-- Example row of columns -->

<div class="row">
    <div class="col-md-12">
        <h2>{{ title | safe}}</h2>
    </div>
    <div class="col-md-12">
    <div class="container mapbound">
            <div id='map'></div>
    </div>
    </div>
</div>
<br />

<!-- Regions Type -->
<div class="row">
<div class="well">
<form class="form-horizontal">
    <fieldset>
        <div class="col-md-2">
            <legend>Region Type</legend>
        </div>
        <div class="col-md-4">
            <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
            Neighborhoods
          </label>
        </div>
            <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
            Census Tracts (from 2010 Census)
          </label>
        </div>
        </div>
        <div class="col-md-4">
            <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
            Police Districts
          </label>
        </div>
            <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
            Historical Police Districts (before July 2015)
          </label>
        </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
    <fieldset>
</form>
</div>
</div>

<!-- Filtering -->

<div class="row">
<div class="well">
<form class="form-horizontal">
    <fieldset>
        <legend>Filter Data</legend>
        <!-- Dates -->
        <div class="col-md-3">
            <div class="form-group">
                <label>Date Range:</label>
                <input type="text" class="form-control" id="datefilter" value="foo">
            </div>
        </div>

        <!-- Days of Week -->
        <div class="col-md-2">
            <div class="form group">
                <label>Days of Week:</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" checked>
                        Monday
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" checked>
                        Tuesday
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" checked>
                        Wednesday
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" checked>
                        Thursday
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" checked>
                        Friday
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" checked>
                        Saturday
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" checked>
                        Sunday
                    </label>
                </div>
            </div>
        </div>

        <!-- Time of Day Range -->
        <div class="col-md-2">
            <div class="form-group">
                <label>Time of Day Range:</label><br />
                Start time: <input type="text" class="form-control" id="startTime" placeholder="foo">
                End time: <input type="text" class="form-control" id="endTime" placeholder="bar">
            </div>
        </div>

        <div class="col-md-5">
            <div class="form-group">
                <label>Weather:</label><br />
                Daily high: <input id="hiTemp" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/>
                <br /><br /><br />
                Daily low: <input id="loTemp" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/>
                <br /><br /><br />
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" checked> Rained
                    </label>
                </div>
            </div>
        </div>
        <div class="clearfix visible-md"></div>
        <div class="col-md-2 col-md-offset-10">
            <div class="form-group">
            <button type="reset" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
    </fieldset>
</form>
</div>
</div>
{% endblock %}

{% block scripts %}
<!-- Mapbox.js and its stylesheet -->
<script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />

<!-- Leaflet Markercluster plugin -->
{% if maptype == 'markers' %}
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
{% endif %}

<!-- Geojson data -->
<script>
var data = {{ data | tojson }}
</script>

<!-- Machinery for creating map -->
{% if maptype == 'markers' %}
    <script>{% include 'leaflet_markers.js' %}</script>
{% elif maptype == 'choropleth' %}
    <script>{% include 'leaflet_choropleth.js' %}</script>
{% endif %}

<!-- Scripts for Bootstrap Datepicker -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.19/moment.min.js'></script>
<link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.19/daterangepicker.min.css' rel='stylesheet' />
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.19/daterangepicker.min.js'></script>
<link href='https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.11/jquery.timepicker.min.css' rel='stylesheet' />
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.11/jquery.timepicker.min.js'></script>
<link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.0/css/bootstrap-slider.min.css' rel='stylesheet' />
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.0/bootstrap-slider.min.js'></script>
<script>{% include 'data_filters.js' %}</script>



{% endblock %}
