

/* ==========================================================================
Author's custom styles
========================================================================== */


.jumbotron {
    background-color: transparent;
    color: #FEFDF5;
    z-index: 10;
    position: relative;
    text-shadow: 0 1px 0 black;
}
.jumbotron:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../img/bg.jpg");
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    -webkit-filter: brightness(33%) contrast(75%);
    filter: brightness(33%) contrast(75%);
}
.img-filler {
    max-height: 240px;
}
.img-previewthumb {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
